body {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

.card {
  width:244px;
  height:340px;
}

.card-stack {
  position:relative;
  display:inline-block;
  text-align:left;
}

.card-stack span {
  position:absolute;
}

.player-pool{
  display:inline-block;
}

.player-pack{
  display:inline-block;
}
